* {
  padding: 0;
  margin: 0;
}

body {
  --font-primary: "Merriweather", serif;
  --font-secondary: "Inter", sans-serif;
  padding-top: 50px;
  padding-inline: 100px;
}

/* Common Style */
header,
section {
  margin-bottom: 80px;
}

/* Header - Banner*/
header {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assets/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-family: "Merriweather", serif;
  border-radius: 16px;
}

header p {
  font-size: 32px;
  margin-bottom: 10px;
}

header h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
}

/* Main Section */
/* 65% OFF */
.holiday-deals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holiday-deals h3 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 30px;
}

.holiday-deals p {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.holiday-deals h4 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.holiday-deals img {
  width: 700px;
}

/* Welcome to Midnight Party */
.welcome-to-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assets/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 520px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.greetings {
  max-width: 600px;
}

.greetings h3 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 55px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 7.04px;
}

.greetings p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.greetings button {
  margin-top: 20px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ff0000;
  padding: 10px 18px;
  border-radius: 10px;
  color: #ff0000;
  font-family: "Inter", serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.greetings button:hover {
  cursor: pointer;
}

.greetings button:active {
  border-color: #fff;
  color: #fff;
}

.img-2024 {
  width: 260px;
}

/* Place , Date , Time */
.party-place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 80px;
  gap: 16px;
}

.party-place p {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.party-place span {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.party-place button {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 24px;
  border-radius: 8px;
  background: #f00;
  border: 0;
  margin-top: 15px;
}

.party-place button:hover {
  cursor: pointer;
}

.party-place button:active {
  font-size: 14px;
  padding: 14.5px 32px;
}

/* Coming Soon */
.coming-soon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.best-offer {
  width: 35%;
}

.best-offer .title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.best-offer h4 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 34px;
  font-weight: 900;
  margin-block: 12px;
}

.best-offer .desc {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.coming-soon > img {
  border-radius: 50%;
  padding: 30px;
  border: 10px solid #ff0000;
  width: 24%;
}

.coming-soon .ending {
  width: 28%;
}

.coming-soon .ending h4 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.coming-soon .ending p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-block: 18px;
}

/* What is Functional */
.what-is-functional {
  text-align: center;
  margin-bottom: 0;
}

.what-is-functional .title {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.what-is-functional h4 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 60px;
  font-weight: 900;
  margin-block: 18px;
}

.what-is-functional h4 span {
  color: #f00;
}

.what-is-functional .desc {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  padding-inline: 60px;
}

/* All about images */
.images-desc-subset {
  display: flex;
}

.box-image {
  width: 56%;
  height: fit-content;
  position: relative;
  top: 165px;
}

.discount-image {
  width: 20%;
  height: fit-content;
  position: relative;
  top: 200px;
  right: 10px;
  z-index: 100;
}

.person-image {
  width: 35%;
  height: fit-content;
  position: relative;
  top: 130px;
  right: 126px;
}

.red-flat-image {
  width: 100%;
}

/* Page Portfolio */
.page-portfolio .title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.page-portfolio h4 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 900;
  margin-block: 12px;
}

.page-portfolio .desc {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 28px;
  padding-right: 100px;
  margin-bottom: 30px;
}

.product-images div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-images img {
  width: 32%;
  transition: transform 0.5s;
}

.product-images img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: -50px -50px 50px 50px rgba(0, 0, 0, 0.1);
}

/* Newsletter */
.newsletter {
  background-color: #ff00000d;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 80px;
}

.newsletter img {
  width: 110px;
  margin-bottom: 20px;
}

.newsletter h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 38px;
  font-weight: 900;
}

.newsletter p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 28px;
  padding-inline: 150px;
  margin-block: 20px;
}

.newsletter-form {
  display: flex;
}

.newsletter-form input,
button {
  border: 0;
  outline: 0;
  font-family: "Inter", sans-serif;
}

.newsletter input {
  padding: 14px 23px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 16px;
  width: 280px;
  border: 2px solid white;
}

.newsletter input:focus {
  border-color: #f00;
}

.newsletter button {
  padding: 18px 28px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #ff0000;
  font-weight: 600;
  color: white;
  font-size: 14px;
}

.newsletter button:hover {
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #070211;
  padding: 80px 120px;
  color: white;
  font-family: "Inter", sans-serif;
}

footer .contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .contacts p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .socials {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-block: 24px;
  padding-block: 20px;
  border: 1px solid #ffffff26;
  border-left: 0;
  border-right: 0;
}

footer .socials img {
  width: 50px;
}

footer .bottom {
  display: flex;
  justify-content: space-between;
}

footer .unsubscribe:hover {
  cursor: pointer;
}
